.UserInfo__content {
    border-radius: 0px 0px 16px 16px;
    overflow: hidden;
}

.UserInfo__container {
    height: 168px;
    border-radius: 0px 0px 8px 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background_content);
}

.UserInfo__avatar {
    display: block;
}

.UserInfo__title {
    padding-top: 11px;
    padding-bottom: 2px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: var(--text_primary);
}

.UserInfo__cells {
    display: flex;
}

.UserInfo__cell {
    display: flex;
    padding: 4px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text_subhead);
}

.UserInfo__cell .Icon {
    margin-right: 6px;
    color: var(--icon_outline_secondary);
}

.UserInfo__after {
    border-radius: 8px;
    margin-top: 3px;
    background-color: var(--background_content);
}